#{$prefix}-nav__list-group {
  position: relative;

  &::before,
  &::after {
    width: 1px;
    height: 25vh;
    content: "";
    position: absolute;
    background-color: map-get($COLOR_NEUTRAL, COLOR_NEUTRAL_TINT_95);
  }

  &::before {
    top: calc(-25vh - 12px);
  }

  &::after {
    bottom: calc(-25vh - 12px);
  }
}

#{$prefix}-nav__list-group-item {
  position: relative;
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: rem(40px);

    &::after {
      width: 1px;
      height: 24px;
      content: "";
      position: absolute;
      bottom: rem(-32px);
      background-color: map-get($COLOR_NEUTRAL, COLOR_NEUTRAL_TINT_95);
    }
  }
}
