#{$prefix}-section {
  width: 100vw;
  height: 100vh;
}

#{$prefix}-section__content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#{$prefix}-section__title {
  max-width: 100%;
  margin: 0;
  font-size: 12vw;
  font-family: Helvetica, sans-serif;
  position: relative;
  z-index: 2;
}

#{$prefix}-section__block {
  display: inline-block;
}

.overlay-yellow {
  height: 12vh;
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: rgba(253, 250, 102, 1);
  z-index: 1;
}
